<FilesMatch "\.(inc|php|php3|php4|php5|php6|phtml|phps)$">
AddHandler x-httpd-php5 .php
</FilesMatch> 

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on



#RewriteBase /
#RewriteRule ^/$ /index.php?controller=main&action=index [L]
RewriteRule ^([^.]+)/([^.]+)/([^.]+)/([^.]+)/?$ /index.php?controller=$1&action=$2&$3=$4 [L]
RewriteRule ^([^.]+)/([^.]+)/?$ /index.php?controller=$1&action=$2 [L]
RewriteRule ^([^.]+)/?$ /index.php?controller=main&action=$1 [L]


#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_URI} !(.*)/$ 
#RewriteRule ^(.*)$ /$1/ [R=301,L]
