body{
	font: 14px Arial;
	position: relative;
	width:100%;
	height:100%;
}	
.page{
	margin: 0 auto 0 auto;
	width:1004px;
}
.header{
}
h3 {
	padding:2px 0 2px 0;
	margin:0 10px 0 0;
	float:left;
}
input.qn{
	width:400px;
}	
.header h1{
	color: red;
	font-size:46px;
}
.quizBox{
	margin:20px 0 20px 0;
}	
.questionSubBox{
	border: 1px solid silver;
	border-radius: 10px;
	padding:10px 10px 10px 20px;
	margin:5px;
}	
.answerBox{
	border: 1px solid gray;
	border-radius: 10px;
	padding:10px;
	/*margin-left:20px;*/
	width:400px;
}

button{
	border: 1px solid silver;
	border-radius: 5px;	
}
input{
	border: 1px solid silver;
	border-radius: 4px;		
}	
button#addAnswer{
	margin:5px 2px 0 0px;
}
.buttonPlace{
	border: 1px solid silver;
	border-radius: 5px;	
	background-color: silver;
	padding:10px;
}
.buttonPlace button, .buttonPlace input{
	border: 2px solid white;
}
.menu{
	border: 1px solid silver;
	border-radius: 5px;	
	background-color: black;	
	margin:5px 0 5px 0;	
}	
.menu ul{
	padding:0;
	margin:0;
	overflow:hidden;
}
.menu li{
	list-style-type:none;
	float:left;
	margin:0;
	padding:5px 10px 5px 10px;
	overflow:hidden;
}
.menu li:hover{
	background-color:gray;
}	
.menu a:link, .menu a:visited{
	color:white;
}
.menu a:hover{
	text-decoration:none;
}
.error{
	border: 1px solid red;
	border-radius: 5px;	
	background-color: white;
	padding:10px;
	margin:10px 0 10px 0;
}
.tbl{
	width:100%;
}
.tbl th, .tbl td{
	border: 1px solid silver;
	/*border-right: 1px solid silver;*/
	border-radius: 5px;	
	padding:2px 3px 2px 3px;
	margin:1px;
	text-align:center;
}
.tbl th {
	background-color: gray;
	color: white;
}
.tbl td.but{
	text-align:left;	
}
div.wb{
	margin:3px 0 3px 30px;
	width:500px;
	overflow:hidden;
	clear:both;	
}
.ansBlock{
	float:left;
	width:100px;
	margin-right:10px;
}	
.statBlock{
	float:left;
	width:50px;
	margin-right:10px;
}	
.dinamicWrapper{
	float:left;
	margin-right:10px;
	width:200px;
	border:1px solid gray;
	height:20px;
	overflow:hidden;
}
.dinamic{
	background-color:maroon;
	height:20px;
}
#win{
	display:none;
	background-color:white;
	border: 3px solid gray;
	border-radius: 5px;		
	position: fixed;
	top:20%;
	left:33%;
	width:600px;
	height:500px;
	overflow:auto;
	z-index:100;
	padding:10px;
}
.wrap{
	width:100%;
	/*height:100%;*/
	position: relative;
}
#closeBut{
	position: absolute;
	top:10px;
	right:10px;
}	